<!DOCTYPE html>
<html lang='<%= language %>'>
  <head>
    <meta charset="utf-8">
    <title><%= [t(@item[:title]), metadata(:site_title)].compact.join(" — ") %></title>
    <meta name="description" content="<%= [@item[:description], metadata(:description)].compact.join(' ').gsub("\n", " ") %>">
    <meta name="author" content="<%= metadata(:author) %>">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <link href="<%= asset_path('/vendor/bootstrap/css/bootstrap.min.css') %>" rel='stylesheet'/>
    <link href="<%= asset_path('/vendor/font-awesmome/css/font-awesome.min.css') %>" rel="stylesheet"/>
    <link href="<%= asset_path('/stylesheet.css') %>" rel='stylesheet'/>
    <link rel="alternate" type="application/rss+xml" title="Feed (ogg)" href="/feeds/ogg.xml" />
    <link rel="alternate" type="application/rss+xml" title="Feed (mp3)" href="/feeds/mp3.xml" />
    <link href="<%= asset_path("/favicon.ico") %>" rel="icon" />
  </head>
  <body class="<%= File.basename(@item.identifier.to_s).split('.')[0] %>">

    <nav class="navbar navbar-inverse navbar-toggleable-sm">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= l_('/') %>">
            <%= metadata(:site_title) %>
          </a>
        </div>
        <div class='collapse navbar-collapse' id='navbar'>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= _('The event') %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= l_("/about/") %>"><%= _('About MiniDebConf Curitiba') %></a></li>
                <li><a href="<%= l_("/registration/") %>"><%= _('Registration') %></a></li>
                <li><a href="<%= l_("/venue/") %>"><%= _('Venue') %></a></li>
                <li><a href="<%= l_("/curitiba/") %>"><%= _('Curitiba') %></a></li>
                <li><a href="<%= l_("/couchsurfing/") %>"><%= _('Couchsurfing') %></a></li>
                <li><a href="<%= l_("/codes-of-conduct/") %>"><%= _('Codes of Conduct and Anti-Harassment Policy') %></a></li>
                <li><a href="<%= l_("/organizers/") %>"><%= _('Organizers') %></a></li>
                <li><a href="<%= l_("/certificates/") %>"><%= _('Certificates') %></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="<%= l_('/sponsors/') %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= _('Sponsorship') %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= l_("/sponsors/") %>"><%= _('Our sponsors') %></a></li>
                <li><a href="<%= l_("/become-sponsor/") %>"><%= _('Become a sponsor') %></a></li>
              </ul>
            </li>
            <li>
              <a href="<%= l_("/donate/") %>"><%= _('Donate') %></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= _('Schedule') %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= l_("/schedule/") %>"><%= _('Schedule') %></a></li>
                <li><a href="<%= l_("/barbecue/") %>"><%= _('Sunday barbecue') %></a></li>
                <li><a href="<%= l_("/important-dates/") %>"><%= _('Important dates') %></a></li>
                <li><a href="<%= l_("/call-for-proposals/") %>"><%= _('Call for proposals') %></a></li>
                <li><a href="<%= l_("/tips-for-cfp/") %>"><%= _('Tips for CfP') %></a></li>
                <li><a href="<%= l_("/confirmed-speakers/") %>"><%= _('Confirmed speakers') %></a></li>
		<li><a href="<%= l_('/volunteers/') %>"><%= _('Volunteers') %></a></li>
              </ul>
            <li><a href="<%= l_('/contact/') %>"><%= _('Contact') %></a></li>
          </ul>

          <ul id='user-menu' class="nav navbar-nav navbar-right">
            <li>
              <%= change_language %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id='content'>
      <div class='container'>
        <%= yield %>
      </div>
    </div> <!-- id='content' -->

    <footer>
      <div class='container'>
        <p><%= metadata(:site_copyright) % @config[:metadata][:site_source] %></p>
      </div> <!-- class='container' -->
    </footer>

  <script type='text/javascript' src='<%= asset_path('/vendor/jquery/jquery.min.js') %>'></script>
  <script type='text/javascript' src='<%= asset_path('/vendor/bootstrap/js/bootstrap.min.js') %>'></script>
  <script type='text/javascript'>
  $(function () { $('[data-toggle="popover"]').popover() })
  </script>
  </body>
</html>
